<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory>tests/Feature/</directory>
            <exclude>tests/database/factories/</exclude>
        </testsuite>
    </testsuites>
    <php>
        <server name="YOUTRACK_BASE_URI" value="https://youtrack.example.com"/>
        <server name="YOUTRACK_AUTH" value="token"/>
        <server name="YOUTRACK_TOKEN" value=""/>
        <server name="YOUTRACK_USERNAME" value=""/>
        <server name="YOUTRACK_PASSWORD" value=""/>
        <server name="YOUTRACK_PROJECT" value="TEST"/>
    </php>
</phpunit>
