<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
        >
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">tests/</directory>
            <exclude>tests/database/factories/</exclude>
        </testsuite>
    </testsuites>
    <php>
        <server name="YOUTRACK_BASE_URI" value="https://youtrack.example.com"/>
        <server name="YOUTRACK_AUTH" value="token"/>
        <server name="YOUTRACK_TOKEN" value=""/>
        <server name="YOUTRACK_USERNAME" value=""/>
        <server name="YOUTRACK_PASSWORD" value=""/>
        <server name="YOUTRACK_PROJECT" value="TEST"/>
    </php>
</phpunit>
